@import "../../common/functions";

$bg-image: "../assets/bg-city.jpg";

[data-barba-namespace="not-found"] {
  @include background-image-cover($bg-image, 0.8);

  #particles-js {
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;

    pointer-events: all;
  }

  .not-found-content {
    pointer-events: none;

    a,
    button,
    input {
      pointer-events: all;
    }
  }
}
