mixin mainbar(items, currentNamespace)
  nav.navbar.sticky-top.navbar-expand-lg.navbar-dark
    a.navbar-brand(href="homepage.pug")
      img(src="assets/cyberloop-logo.svg")
    ul.navbar-nav.ml-auto
      each item in items
        li.nav-item
          a.nav-link(class=(item.namespace === currentNamespace  ? "active" : "") href=item.href)= item.title
