extends layouts/page.pug

block variables
  - var barbaNamespace = "approach"

block content
  each v in [1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]
    div(data-scroll-section)
      a(href="homepage.pug") Homepage
      h1(data-scroll) Hey
      p(data-scroll) 👋 FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO FOOO
    div(data-scroll-section)
      h2(data-scroll data-scroll-speed="1") What's up?
      p(data-scroll data-scroll-speed="2") 😬
