extends layouts/page.pug

block variables
  - var barbaNamespace = "not-found"

block content
  div(data-scroll-section)
    div#particles-js
    .not-found-content.container-fluid
      .row.justify-content-md-center.align-items-center.vh-100
        .col-lg-8.col-md-10.col-sm-12.p-5.h-50
          .row.my-5
            .col.text-center
              h1.display-4#resource-not-found
          .row.justify-content-center.my-5
            .col-auto
              a.btn.btn-dark(href="homepage.pug") Back to Home
